{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'css/nav-fixed-top.css' %}">
{% endblock %}

{% block content %}

{% include "includes/navbartop.html" %}

<div class="container">

    <div class="starter-template">
        <h1>Choose what to do</h1>
        <p class="lead">The decisions you make will impact your future.  What will you choose?</p>
    </div>

    <div class="row">
    {% for child in children %}
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ child.get_event }}
                    </h3>
                </div>
                <div class="panel-body">
                    <p> {{ child.probability }}% This will happen </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    {% include "nodes/includes/meters.html" %}

</div>

{% endblock %}
