{% extends 'base.html' %}
{% load staticfiles %}

{% block headers %}
    <link rel="stylesheet" href="{% static 'css/nav-fixed-top.css' %}">
{% endblock %}

{% block content %}

{% include "includes/navbartop.html" %}

<div class="container">

    <div class="starter-template">
        {% if children|length < 2 %}
            <h1>Finish</h1>
        {% else %}
        <h1>Choose what to do</h1>
        <p class="lead">The decisions you make will impact your future.  What will you choose?</p>
        {% endif %}
    </div>

    <div class="row">
    {% for child in children %}
        {% if children|length < 2 %}
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
        {% else %}
        <div class="col-xs-12 col-sm-6 col-md-6">
        {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ child.get_event }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% if child.probability %}
                    <p> {{ child.probability }}% This will happen </p>
                    <p><a href="{% url 'nodes:node' parent.tree child.event %}" class="btn btn-lg btn-info">Choose this path</a></p>
                    {% else %}
                    <p>You have reached the end of your journey.  Here's what life will be like</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
        {% include "nodes/includes/meters.html" %}
    {% if parent.get_what_ifs.endNode %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
            <h1 class="lead">Jobs common for this degree of education</h1>
            <ul class="list-group">
                {% for link in parent.get_charts %}
                <li class='list-group-item'><a href="/static/imgs/{{ link }}.png" target="_blank">Chart {{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
            <h1 class="lead">What if...</h1>
            <ul class="list-group">
                {% if parent.get_what_ifs.ladderLink %}
                <li class='list-group-item'><a href="{% url 'nodes:node' parent.tree parent.get_what_ifs.ladderLink %}">I {{ parent.get_what_ifs.ladderDescription }}</a></li>
                {% else %}
                <li class='list-group-item'>You graduated college, way to go!</li>
                {% endif %}
                {% if parent.get_what_ifs.crossLink %}
                <li class='list-group-item'><a href="{% url 'nodes:node' parent.get_what_ifs.crossLink parent.event %}"> I worked harder</a></li>
                {% else %}
                <li class='list-group-item'>You are in the top percentile!</li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
