
<div class="col-xs-12 col-sm-12 col-md-12">
    <table class="table">
        <tbody>
        <tr>
            <th class="col-xs-2 col-sm-2 col-md-2">Meter</th>
            <th>Status</th>
        </tr>
        {% for meter in meters %}
        <tr>
            <td>{{ meter.name }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ meter.get_color }}" role="progressbar" aria-valuenow="{{ meter.value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ meter.value }}%">
                        <span class="sr-only">{{ meter.value }} Complete (success)</span>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
